.inter1 {
    border: 2px solid red;
    border-bottom: 5px solid red;
    width: 70%;
    height: 60%;
    margin-top: 35px;

}

body {
    background-color: rgb(12, 12, 12);
}

header {
    background-image: url("images/inter.jpg");
    height: 80vh;
    opacity: 100%;
    border: 2px solid red;
    border-bottom: 5px solid red;
}

.h11 {
    color: red;
    background-color: transparent;
    padding: 40px;
    padding-left: 80px;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: xx-large;
}

.t1 {
    font-size: x-large;
    color: red;

}

.main2 {
    color: #fff;
}

.main3 {
    color: #fff;
    font-size: xxx-large;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#id22 {
    margin: 0px;
    color: aliceblue;
    background-color: black;
    padding: 5px;
}

.but5 {
    color: #fff;
    background-color: red;
    padding: 5px;
    font-size: small;
    font-style: italic;
}

.mov2 {
    border: 2px solid red;
    margin: 4px;
    padding: 3px;
}

.h122 {
    color: #fff;
}